<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" dir="{{ LANG_DIR }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" dir="{{ LANG_DIR }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" dir="{{ LANG_DIR }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ DEFAULT_LANG }}" dir="{{ LANG_DIR }}" class="no-js">
  <!--<![endif]-->
  <head>
    {% if GOOGLE_TRACKING_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_TRACKING_ID }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ GOOGLE_TRACKING_ID }}");
    </script>
    {% endif %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta %}
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
      rel="stylesheet"
    />

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/animate.css"
    />
    <!-- Icomoon Icon Fonts-->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/icomoon.css"
    />
    <!-- Bootstrap  -->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.css"
    />
    <!-- Flexslider  -->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/flexslider.css"
    />
    <!-- Theme style  -->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css"
    />
    <!-- Custom style  -->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css"
    />
    <!-- pygments code highlight -->
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.css"
    />
    <!-- stork search -->
    <link rel="stylesheet" href="https://files.stork-search.net/basic.css" />
    <link
        rel="stylesheet"
        media="screen and (prefers-color-scheme: dark)"
        href="https://files.stork-search.net/dark.css"
    />

    <!-- Modernizr JS -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="/theme/js/respond.min.js"></script>
    <![endif]-->
    {% if FEED_ALL_ATOM %}
    <link
      href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Atom"
    />
    {% endif %} {% if FEED_ALL_RSS %}
    <link
      href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} RSS"
    />
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-light sticky-top d-md-block">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#fh5co-aside"
          aria-controls="fh5co-aside"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div id="fh5co-page" class="d-flex flex-column min-vh-100">
      <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico" />
      <link rel="icon" type="image/png" href="{{ SITEURL }}/images/favicon-96x96.png" sizes="96x96"/>
    
      <!-- Offcanvas sidebar -->
      <aside
        id="fh5co-aside"
        class="offcanvas offcanvas-start"
        tabindex="-1"
        aria-labelledby="fh5co-logo"
        role="complementary"
      >
        <!-- Offcanvas header only on mobile -->
        <div class="offcanvas-header d-md-none">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body sidebar-scrollable">
          <nav class="fh5co-main-menu" role="navigation">
            {% include 'partial/languages.html' %}
          </nav>
          <div class="clearfix"></div>
          <h1>
            <a href="{{ SITEURL }}/index.html">
              <img src="{{ SITEURL }}/images/logo.png" class="img-fluid"/>
            </a>
          </h1>
          <nav class="fh5co-main-menu" role="navigation">
            {% include 'partial/search.html' %}
            {% include 'partial/mainNavigation.html' %}
          </nav>
          {% include 'partial/social.html' %}
        </div>
      </aside>

      <!-- Main content -->
      <div id="fh5co-main" class="flex-grow-1 my-3">
        {% block content %}{% endblock %}
      </div>
      {% include 'partial/copyright.html' %}
    </div>


    <!-- jQuery -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.bundle.min.js"></script>

    <!-- Waypoints -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.flexslider-min.js"></script>

    {% block custom_js %}{% endblock %}

    <!-- MAIN JS -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
  </body>
</html>
