{% extends "base.html" %} {% block title %}{{ SITENAME }} - {{ _('Search') }}{%
endblock %} {% block meta %}
<meta name="description" content="{{ SITENAME }} - {{ _('Search') }}" />
{% endblock %} {% block content %}
<div class="fh5co-narrow-content">
  <!-- <h1 class="fh5co-heading-colored">{{ _('Search results') }}</h1> -->

  <!-- <div class="animate-box" data-animate-effect="fadeInLeft">
          <section id="content" class="body">
            <div id="tipue_search_content"></div>
          </section>
        </div> -->
</div>

{% endblock %} {% block custom_js %}
<script src="https://files.stork-search.net/releases/v1.5.0/stork.js"></script>
<script>
  stork.register("sitesearch", "{{ SITEURL }}/search-index.st");
</script>
{% endblock %}
